<div class="dashboard">
  <header class="dashboard-header">
    <h1>Dashboard</h1>
    <nav class="dashboard-nav">
      <a routerLink="/">Dashboard</a>
      <a routerLink="/calendar">Calendar</a>
      <a class="btn" routerLink="/events">Ver eventos</a>
    </nav>
  </header>
  <div class="dashboard-header-actions" style="position: absolute; top: 8px; right: 16px; z-index: 2;">
    <button (click)="toggleDay()" class="btn-cta" title="Mostrar Dia 15">Dia 15</button>
  </div>
  <div class="dashboard-center">
    <app-calendar></app-calendar>
  </div>
</div>
